<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="theme.css">
    <title>Home</title>
</head>
<body>

    <div class="Home">
      <h1>Home Page</h1>
      <form method="POST" action="/search">
        
        <input type="submit" value="Search mate">
        <br>
        
      </form>
    </div>
  </body>

</html>