<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <!-- CSS only -->
   
<link rel="stylesheet" href="dist/css/bootstrap.min.css">
<link rel="stylesheet" href="theme.css"> 
<title>search Data</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Study Buddy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index">Logout</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <h3 class ="text-center my-3">Your Matched Partner</h3>
<div class="row ">
  <% for (var i =0; i <result.length;  i++ ) { %>
    <div class ="col-md-4 mb-3 ">
      <div class="card">
        <div class="card-overlay">
        <div class="card-title">
          <div class="card-image">
            </div>
          <p class = "name"><%= result[0].fullname %></p>
        </div>
          <hr>
        <div class="card-body">
          <div class="info-main">
            <div class="info">
              <img src="https://image.flaticon.com/icons/png/128/732/732200.png">
              <p class="info-text"><%= result[0].email %></p>
            </div>
            
            <div class="info">
              <img src="https://image.flaticon.com/icons/png/128/523/523081.png">
              <p class="info-text">
                +91 <%= result[0].phoneno %>
              </p>
              
              </div>
            <div class="info">
              <img src="https://img.icons8.com/fluent/2x/about.png">
              <p class="info-text">
                <%= result[0].aboutme %>
              </p>
              
              </div>
          </div>
          </div>
      </div>
      
    </div>
    </div>
    <% } %>

  
</div>

  
  </body>

</html>